-e git+git://github.com/openid/python-openid.git#egg=python-openid
-e git+git://github.com/sciyoshi/pyfacebook.git#egg=pyfacebook
-e svn+http://oauth.googlecode.com/svn/code/python#egg=oauth
hashlib
simplejson
httplib2
Django
