<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="author" content="Gustavo Henrique" />
<meta name="geo.region" content="BR-RJ" />
<meta name="geo.placename" content="Rio de Janeiro" />
<meta name="geo.position" content="-22.90496;-43.176076" />
<meta name="ICBM" content="-22.90496, -43.176076" />
<meta name="description" lang="en-us" content="Tips For Linux newbies and advanced users about how to use linux for system administration tasks of the day-to-day, to increase the productivity of developers and users to help solve a troubles" />
<meta name="description" lang="pt-br" content="Dicas para iniciantes e usuários avançados Linux sobre como usar o linux para as tarefas de administração do sistema do dia-a-dia, para aumentar a produtividade de desenvolvedores e para ajudar os usuários a resolverem problemas" />
<meta name="keywords" content="{% block meta_keywords %}linux, shell, ubuntu, samba, squid, ssh, network, wireless{% endblock %}" />

<link rel="stylesheet" type="text/css" media="all"  href="{{ MEDIA_URL }}css/mobile/screen.css" />

<!-- google analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18397676-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

{% load truncate %}

<title>{% block title %}TipsForLinux{% endblock %}</title>

{% block extra_head %}{% endblock %}

</head>

<body>

<div id="wrapper">
    <div id="top_bar">
        <div class="inner">
            <a href="/" title="Home"><img src="{{ MEDIA_URL }}css/images/logo.png" width="250" height="50" alt="Logo"/></a>
        </div>
        <div class="home">
            <a href="/">
                <img src="{{ MEDIA_URL }}css/mobile/images/icon_home.png" alt="" width="40" height="40"/>
            </a>
        </div>
    </div>
    
    <br/><br/>
    
    <div id="content_wrapper">
        <div class="search">
            <form method="get" id="searchform" action="{% url tip-simple-search %}">
                <p><input type="text" value="Search" onfocus="this.value=''" onblur="this.value='Search'" name="text" id="s" class="search"/></p>
            </form>
        </div>
        
        {% block main %} {% endblock %}
    </div>

</div>

<script src="http://static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">clicky.init(66353677);</script>

</body>
</html>
