{% load truncate %}

    <span class="header">
        {{ tip.title|upper|truncate:47 }}
    </span><br/>
    
<!--

<h1 class="post-title"><a href="{{ tip.get_absolute_url }}" title="{{ tip.title }}"><strong>{{ tip.title|upper|truncate:47 }}</strong></a></h1>
<h2 class="post-header-line1">{{ tip.pub_date|date:"F j, Y" }} by {{ tip.author }} {% if tip.get_tags %}| {{ tip.get_tags|safeseq|join:", " }} {% endif %}</h2>

{% ifequal request.user tip.author  %}
    <a href="{% url tip-edit tip.id %}" title="Edit"><div class="edit" style="float:left;margin-right:5px;"></div><noscript>Edit</noscript></a>
    <a href="{% url tip-delete tip.id %}" title="Delete"><div class="delete" style="float:left;"></div><noscript>Delete</noscript></a>
    <br/>
{% endifequal %}
-->
